################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Poponin_Yuri/.vs/helloworld.slnx/v18
/.vs
/Poponin_Yuri/.vs/helloworld/CopilotIndices/18.0.988.22099
/.gitignore
/Yaroslavskiy_Dmitry/ТестКоммита/.vs/ТестКоммита.slnx
