################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Poponin_Yuri/.vs/helloworld.slnx/v18
/.vs
